.App {
  width: 100%;
  height: 100vh;
  display: flex;
  @media (min-width: 768px) {
    justify-content: center;
    align-items: flex-start;
    padding-top: 10%;
  }

  .catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    align-items: center;
    border-top: 1px solid #bbb;
    @media (min-width: 768px) {
      border: 1px solid #bbb;
      justify-content: center;
      align-items: center;
      max-width: 60%;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 14%);
    }
    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }
}

.title {
  padding: 9px;
  text-align: center;
}
