$base-black: #1b1c1e;

.phone {
  border-top: 1px solid #bbb;
  padding: 0.5rem 0.5rem;
  color: $base-black;
  @media (min-width: 992px) {
    &:hover {
      background-color: #bbb;
    }
  }
}

.phoneTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $base-black;
  padding-left: 2rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

.collapsableDetails {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  img {
    border-radius: 5px;
    width: 25%;
    object-fit: contain;
  }
  @media (min-width: 992px) {
    img {
      border-radius: 5px;
      width: 10%;
    }
  }
}

.detailsText {
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
}

.detail {
  margin: 0rem 0.2rem;
  width: 100%;
  // width: max-content;

  h6 {
    margin: 0.2rem 0rem;
  }
  p {
    margin-top: 0.5rem;
  }
}

.minorDetails {
  display: flex;
  gap: 1.2rem;
  @media (min-width: 992px) {
    gap: 5rem;
  }
}
